/* Add a black background color to the top navigation */
.topnav {
  
 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
 
  background-color: #ff4c29;
  overflow: hidden;
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
 
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #548ca8;
  color: white;
}
.body-background {
  background-color: #ffffff;
  color: #082032;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  margin: 100px;
}

.bg {
  width: 100%;
}

.about-me {
  font-family:Arial, Helvetica, sans-serif;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding-left: 200;
  padding-right: 200;
}

.header-theme {
  font-size: 30pt;
}

.main-header {
  font-size: 35pt;
  font-family:'Courier New', Courier, monospace;
}

/* Hi, Im Justin */
.left-align {
  text-align: left;
  font-size: 24pt;
  margin-right: 700px;
  white-space: nowrap;
}

/* About Me */
.word-spacing {
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 4px;
  font-size: 28;
}

.quote-font {
  font-size: 20;
}
